.footer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.left {
  margin-left: 40px;
}

.center {
  display: flex;
  gap: 20px;
}

.right {
  display: flex;
  gap: 14px;
  margin-right: 40px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
