:root {
  /* 배경 / 글자색 */
  --background: #ffffff;
  --foreground: #000000;

  /* primary */
<<<<<<< HEAD
  --red-50: #ea3c12;
  --red-40: #ff4040;
  --red-30: #ff8d72;
  --red-20: #ffaf9b;
  --red-10: #ffebe7;

  /* status */
  --blue-20: #0080ff; 
  --blue-10: #cce6ff; 
  --green-20: #20a81e;
  --green-10: #d4f7d4;
  --kakao: #fee500;
=======
  --primary-900: #cb2222; /* Hover, Active 강조 */
  --primary-700: #ea3c12;
  --primary-500: #ff4040; /* 메인 CTA, 에러 */
  --primary-300: #ff8d72; /* 보조 버튼, 태그 */
  --primary-100: #ffebe7; /* 섹션 구분, 뱃지 배경 */

  /* status */
  --blue-500: #0080ff;
  --blue-100: #cce6ff;
  --green-500: #20a81e;
  --green-100: #d4f7d4;
  --yellow-500: #fee500;
>>>>>>> 18da2ca (refactor: uncomment button clsx (#114))

  /* grayscale */
  --black: #000000;
  --gray-50: #7d7986;
  --gray-40: #a4a1aa;
  --gray-30: #cbc9cf;
  --gray-20: #e5e4e7;
  --gray-10: #f2f2f3;
  --gray-5: #fafafa;
  --white: #ffffff;

  /* font-sizes */
  --text-h1: 28px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-body1: 16px;
  --text-body2: 14px;
  --text-caption: 12px;

  /* letter-spacing */
  --tracking-h1: -0.5px;
  --tracking-h2: -0.3px;
  --tracking-h3: -0.2px;
  --tracking-h4: -0.1px;
  --tracking-body1: 0px;
  --tracking-body2: 0px;
  --tracking-caption: 0px;

  /* font-weights */
  --weight-h1: 700;
  --weight-h2: 600;
  --weight-h3: 600;
  --weight-h4: 500;
  --weight-body1: 400;
  --weight-body2: 400;
  --weight-caption: 400;
}

/* tailwind 매핑 */
@theme inline {
<<<<<<< HEAD
  /* colors */
  --color-red-50: var(--red-50);
  --color-red-40: var(--red-40);
  --color-red-30: var(--red-30);
  --color-red-20: var(--red-20);
  --color-red-10: var(--red-10);
=======
  --color-primary-900: var(--primary-900);
  --color-primary-700: var(--primary-700);
  --color-primary-500: var(--primary-500);
  --color-primary-300: var(--primary-300);
  --color-primary-100: var(--primary-100);
>>>>>>> 18da2ca (refactor: uncomment button clsx (#114))

  --color-blue-20: var(--blue-20);
  --color-blue-10: var(--blue-10);
  --color-green-20: var(--green-20);
  --color-green-10: var(--green-10);
  --color-kakao: var(--kakao);

  --color-black: var(--black);
  --color-gray-50: var(--gray-50);
  --color-gray-40: var(--gray-40);
  --color-gray-30: var(--gray-30);
  --color-gray-20: var(--gray-20);
  --color-gray-10: var(--gray-10);
  --color-gray-5: var(--gray-5);
  --color-white: var(--white);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* font-sizes */
  --text-h1: var(--text-h1);
  --text-h2: var(--text-h2);
  --text-h3: var(--text-h3);
  --text-h4: var(--text-h4);
  --text-body1: var(--text-body1);
  --text-body2: var(--text-body2);
  --text-caption: var(--text-caption);

  /* letter-spacing */
  --tracking-h1: var(--tracking-h1);
  --tracking-h2: var(--tracking-h2);
  --tracking-h3: var(--tracking-h3);
  --tracking-h4: var(--tracking-h4);
  --tracking-body1: var(--tracking-body1);
  --tracking-body2: var(--tracking-body2);
  --tracking-caption: var(--tracking-caption);

  /* font-weights */
  --weight-h1: var(--weight-h1);
  --weight-h2: var(--weight-h2);
  --weight-h3: var(--weight-h3);
  --weight-h4: var(--weight-h4);
  --weight-body1: var(--weight-body1);
  --weight-body2: var(--weight-body2);
  --weight-caption: var(--weight-caption);
}

/* 다크모드 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}