:root {
  --background: #ffffff;
  --foreground: #171717;

  /* primary */
  --primary-900: #CB2222; /* Hover 및 Active 버튼, 강한 강조 */
  --primary-500: #FF4040; /* 메인 CTA, 브랜드 핵심 컬러, 에러, 네거티브 텍스트 */
  --primary-300: #FF8D72; /* 보조 버튼, 태그, 하이라이트 */
  --primary-100: #FFEBE7; /* 섹션 구분, 네거티브 뱃지 배경 */

  /* blue */
  --blue-500: #0080FF; /* 승인 텍스트  */
  --blue-100: #CCE6FF; /* 승인 뱃지 배경  */

  /* green */
  --green-500: #20A81E; /* 대기중 텍스트 */
  --green-100: #D4F7D4; /* 대기중 뱃지 배경 */

  /* yellow */
  --yellow-500: #FEE500; /* 카카오 로그인 */

  /* grayscale */
  --gray-900: #000000; /* 본문 텍스트 */
  --gray-700: #7D7986; /* 서브 텍스트 */
  --gray-600: #A4A1AA; /* 인풋 텍스트, ghost 형태 */
  --gray-400: #CBC9CF; /* 보더, inactivate 텍스트 */
  --gray-300: #E5E4E7; /* disabled 배경 */
  --gray-200: #F2F2F3; /* input 배경 */
  --gray-100: #FAFAFA; /* 페이지 배경 */
  --white: #ffffff; /* 기본 흰색 */
}

@theme inline {

  /* ---------------------------------- */
  /* 컬러 토큰                            */
  /* ---------------------------------- */

   /* primary */
  --color-primary-900: var(--primary-900);
  --color-primary-500: var(--primary-500);
  --color-primary-300: var(--primary-300);
  --color-primary-100: var(--primary-100);

  /* blue */
  --color-blue-500: var(--blue-500);
  --color-blue-100: var(--blue-100);

  /* green */
  --color-green-500: var(--green-500);
  --color-green-100: var(--green-100);  

  /* yellow */
  --color-yellow-500: var(--yellow-500);

  /* grayscale */
  --color-gray-900: var(--gray-900);
  --color-gray-700: var(--gray-700);
  --color-gray-600: var(--gray-600);
  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
  --color-gray-200: var(--gray-200);
  --color-gray-100: var(--gray-100);
  --color-white: var(--white);

  /* background/foreground */
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  /* ---------------------------------- */
  /* 타이포그래피 토큰                      */
  /* ---------------------------------- */

  /* title */
  --text-h1: 28px; /* 페이지 타이틀, 프로필 타이틀 */
  --text-h2: 24px; /* 가격 텍스트 */
  --text-h3: 20px; /* 카드 타이틀, 필터 타이틀 */
  --text-h4: 18px; /* 모달 타이틀, 섹션 서브타이틀 */

  /* body */
  --text-body1: 16px; 
  /* 본문 텍스트, 인풋 라벨, 네비게이션 메뉴, 설명(Description), 메타 정보(시간/위치), Form 관련 텍스트 */
  --text-body2: 14px; 
  /* 서브 버튼 라벨, 검색 placeholder, 옵션 텍스트, 태그/뱃지 텍스트, 드롭다운 항목, 페이지네이션, 알림 메시지 */

  /* Caption */
  --text-caption: 12px; 
  /* 작은 안내 텍스트, 보조 정보, 서브 레이블 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}
